.projects {
    background-color: rgb(212, 212, 212);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.proj {
    background: linear-gradient(rgb(112, 112, 112), rgb(132, 132, 134), rgb(176, 177, 179), rgb(223, 224, 226));
    max-width: 100%;
    text-align: center;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.proj h1 {
    text-align: center;
    color: rgb(236, 236, 236);
    margin: 0 10% 0 10%;
    padding: 2%;
}
.proj p {
    margin: 0 10% 2% 10%;
    font-size: 25px;
    padding: 1.5%;
    color: rgb(0, 0, 0);
    background: rgba(236, 236, 236, 0.8);
}
.proj label {
    color: rgb(190, 16, 0);
}
#project {
    color: rgb(190, 16, 0);
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .proj {
        margin-top: 60%;

    }
    .proj h1 {
        font-size: 30px;
    }
    .proj p {
        margin: 4% 0 4% 0;
        font-size: 20px;
        padding: 1.5%;
    }
}