.project {
    background: linear-gradient(blue, rgb(119, 140, 235), rgb(112, 178, 253), rgb(2, 112, 238));
    max-width: 100%;
    text-align: start;
    position: relative;
    height: 100vh;

}
.project h1 {
    background: rgba(233, 227, 227, 0.8);
    text-align: center;
    color: burlywood;
    margin: 4% 10% 0 10%;
    padding-top: 10px;
}
.project p {
    margin: 0 10% 2% 10%;
    font-size: 25px;
    padding: 5%;
    background: rgba(255, 255, 255, 0.8);
    animation: aboutme;
    animation-duration: 4s;
    color: rgb(0, 0, 0);
    animation-timing-function: ease-in;
}
@keyframes aboutme {
    10% {background: orange; opacity: .5;}
    20% {background: rgb(228, 122, 36); opacity: .55;}
    30% {background: rgb(197, 100, 35); opacity: .6;}
    40% {background: rgb(158, 83, 33); opacity: .65;}
    50% {background: rgb(134, 71, 28); opacity: .7;}
    60% {background: rgb(100, 52, 19); opacity: .75;}
    70% {background: rgb(56, 31, 21); opacity: .8;}
    80% {background: rgb(48, 25, 25); opacity: .85;}
    90% {background: rgb(22, 18, 18); opacity: .95;}
    100% {background: black; opacity: 1;}
}