
.menu {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: -380px;
    width: 15%;
    height: 100%;
    transition: right .8s;
    transition-timing-function: ease-in-out;
    z-index: 2;
  }
   #btn {
    color: burlywood;
    background: rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 25px;
    font-weight: 700;
  }
  
   #cross {
    color: burlywood;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 90%;
    font-size: 20px;
  }
  
  .side-bar {
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: auto auto auto auto;
    color: rgb(173, 153, 123);
    font-size: 20px;
    font-weight: 600;
    margin-top: 150px;
  }
  .side {
    text-decoration: none;
    color: burlywood;
    padding: 5px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
  }
  .side:hover {
    background: rgba(156, 68, 28);
    color: cornsilk;
  }
  @media only screen and (max-width: 600px) {
    .menu {
      padding-right: 0;
      width: 100%;
      right: -450px;
    }
    .side-bar {
      display: grid;
      grid-template-columns: auto;
    }
    #btn {
      width: 8%;
      height: auto;
      border-radius: 30%;
      top: 2%;
      right: 1%;
    }
  }  