.resume {
    background: rgb(223, 222, 222);
    height: 100vh;
    width: 100%;
    position: fixed;
}
.resume h1 {
    color: rgb(87, 3, 3);
    font-family: 'Times New Roman', Times, serif;
}
iframe {
    max-width: 100%;
    height: 100vh;
}
#download a {
    color: rgb(143, 4, 4);
    font-family: 'Times New Roman', Times, serif;
    background: rgb(243, 231, 231);
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    border: 2px solid rgb(143, 0, 0);
    margin-bottom: 50%;
}
