.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: rgb(149, 42, 42);
  opacity: 1;
  padding: 1em;
}
.container:hover {
  opacity: 1;
  background: rgb(207, 74, 13)
}
.container .navigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container .social-media {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container .social-media span img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 20%;
  padding: 5px;
  transition: all ease .5s;
}
.container .social-media span img:hover {
  width: 3.3em;
  height: 3.3em;
}
.container .navigation li {
  list-style: none;
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
  color: antiquewhite;
}
.welcome {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(177, 29, 29);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
}
.welcome video {
  flex: 1;
}
.welcome h2 {
  flex: 1;
  text-align: center;
  font-size: 2em;
}
.welcome:hover {
    color: rgb(33, 36, 230);
}
.navigation li a {
  text-decoration: none;
  padding: 10px;
  color: antiquewhite;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(./images/City.jpg);
  background-size: cover;
  justify-content: space-around;
}
.wrapper .city {
  flex-basis: 30%;
  display: flex;

  margin-bottom: 6%;
  margin-top: 4%;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 10%;
  transition: all ease .8s;
}
.wrapper .city:hover {
  border-radius: 2%;
}
.wrapper .city .image1 img {
  flex: 1;
  width: 100%;
  height: 450px;
  opacity: .7;
  border-radius: 10%;
  transition: all ease-in-out .8s;
}
.wrapper .city .image1 img:hover {
  opacity: 1;
  height: 480px;
}
.wrapper .city .title {
  color: rgb(5, 103, 148);
  width: 100%;
  height: 20%;
  background: rgb(247, 247, 236);
  opacity: .6;
  flex: 1;
  position: absolute;
  bottom: 25%;
  left: 0;
  transition: all ease .8s;
}
.wrapper .city:hover .title {
  color: rgb(207, 89, 34);
  opacity: 1;
  height: 25%;
}
#footer {
  padding: 2px;
  background: rgb(119, 118, 119);
  display: flex;
  flex-direction: row;

}
#footer p {
  color: rgb(238, 208, 197);
  font-size: 1.2em;
  font-weight: 600;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}