@import url('https://fonts.googleapis.com/css?family=Amita:700|Play&display=swap');

.App {
  text-align: center;
  scroll-behavior: smooth;

}
.container {
  display: flex;
  flex-direction: row;
  background-color: rgb(27, 82, 16, .6);
  padding: .5em;
  position: fixed;
  z-index: 2;
  width: 100%;

}
.container .navigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container .social-media {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container .social-media span img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 20%;
  padding: 5px;
}

.container .navigation li {
  list-style: none;
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(223, 204, 122);
}
.container .navigation li a {
  color: rgb(243, 214, 84);
}
.navigation li a {
  text-decoration: none;
  padding: 10px;
  color: antiquewhite;
}
.welcome {
  width: 100%;
  height: 100vh;
  z-index: -100;
  position: fixed;

}

.video-text {
  color: rgb(252, 203, 45);
  background: rgba(22, 90, 37, 0.5);
  position: absolute;
  bottom: 10%;
  left: 5%;
  right: 5%;
  font-family: 'Amita', cursive;
  width: 90%;
  height: auto;
  font-size: 100%;
  text-shadow: 4px 4px 4px rgb(10, 0, 0);
}

.wrapper {
  display: flex;
  background: rgba(49, 54, 54, 0.5);
  flex-direction: row;
  flex-wrap: wrap;
  background-size: cover;
  justify-content: space-around;
  z-index: 1;
  position: relative;
}

.wrapper .city {
  flex: 1;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 48%;
  position: relative;
}

.wrapper .city .image1 img {
  width: 100%;
  height: 100vh;
  opacity: .9;
}

.wrapper .city .title {
  color: rgb(66, 63, 190);
  width: 80%;
  height: 10%;
  background: rgb(211, 216, 212);
  flex: 1;
  position: absolute;
  bottom: 200px;
  left: 9%;
  right: 9%;
  border: 10px solid chocolate;
  border-block-start-style: ridge;
  border-radius: 10px;

}

#footer {
  padding: 2px;
  background: rgb(17, 17, 17, .8);
  display: flex;
  flex-direction: row;

}
#footer p {
  color: rgb(238, 208, 197);
  font-size: 1.2em;
  font-weight: 600;
  width: 100%;
}

@media only screen and (max-width: 600px) {

  .wrapper .city {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .video-text {
    font-size: 70%;
    bottom: 22%;
    margin: 0%;
    color: rgb(238, 217, 179, 1);
    background: rgba(4, 4, 41, 0.4);
  }
  .wrapper .city {
    margin-top: 40em;
  }
  .wrapper .city .image1 img {
    height: 650px;
    opacity: .9;
  }

}