#footer {
    padding: 2px;
    background: rgb(17, 17, 17, .8); 
    font-size: 1.2em;
    text-align: center;
    color: burlywood;
  }
  #footer a {
    color: burlywood;
    font-weight: 600;
    width: 50%;
    text-decoration: none;
  }