
 .about {
    color: rgb(236, 236, 236);
    max-width: 100%;
    text-align: start;
    position: relative;
    margin: 0;
}
.here {
    color: rgb(96, 187, 6);
    text-decoration: underline;
}
.about .link {
    text-decoration: none;
    color: rgb(236, 236, 236);
    font-weight: 600;
    background: black;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
}
.head {
    background:rgb(0, 0, 0);
    text-align: center;
    color: rgb(236, 236, 236);
    margin: 0 10% 0 10%;
    padding-top: 3%;
}
.about p {
    margin: 0 10% 0 10%;
    padding: 5%;
    background: rgba(0, 0, 0, 0.8);
    color: rgb(236, 236, 236);
    font-size: 25px;
}

@media only screen and (max-width: 600px) {
  .head {
    margin: 0;
    padding-top: 15%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
  }
    .project p {
        margin: 4% 0 4% 0;
        font-size: 20px;
        padding: 1.5%;
    }
    .about p {
        margin: 0 1% 0 1%;
        padding: 2%;
        font-size: 18px;
    }
}