.about {
    width: 100%;
    margin-top: 0;
 }
 .abt {
    color: rgb(236, 236, 236);
    max-width: 100%;
    text-align: center;
    position: relative;
    margin: 0;
}
.here {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}
.link {
    text-decoration: none;
    color: rgb(236, 236, 236);
    background-color: rgb(0, 0, 0, .3);
    font-weight: bolder;
    padding: 5px;
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}
.head {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 7%;
    left: 45%;
}
.abt p {
    padding: 5%;
    background: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .head {
    margin-top: 25%;
    font-size: 25px;
  }
    .project p {
        margin: 4% 0 4% 0;
        font-size: 20px;
        padding: 1.5%;
    }
    .abt p {
        margin: 0 1% 0 1%;
        padding: 2%;
        font-size: 18px;
    }
}