.welcome {
    width: 100%;
    height: 100vh;
    z-index: -100;
    position: fixed;
  }

  .video-text {
    color: rgb(255, 221, 108);
    background: rgba(26, 107, 44, 0.6);
    position: absolute;
    bottom: 20%;
    left: 5%;
    right: 5%;
    font-family: 'Amita', cursive;
    width: 90%;
    height: 200px;
    font-size: 100%;
    text-shadow: 4px 4px 4px rgb(10, 0, 0);
    word-spacing: 10px;
  }

@media only screen and (max-width: 600px) {
  .video-text {
    font-size: 70%;
    height: auto;
    bottom: 22%;
    margin: 0%;
    color: rgb(250, 192, 115);
    background: rgba(148, 71, 8, 0.4);
  }
}