.welcome #cover {
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  position: fixed;
  right: 0;
  bottom: 0;
}

.video-text {
  color: rgb(0, 0, 0);
  background: rgba(236, 236, 236, 0.5);
  position: absolute;
  bottom: 40%;
  left: 5%;
  right: 5%;
  font-family: 'Amita', cursive;
  width: 90%;
  height: 18vh;
  font-size: 100%;
  word-spacing: 10px;
}

@media only screen and (max-width: 600px) {
  .video-text {
    font-size: 70%;
    height: auto;
    bottom: 22%;
    margin: 0%;
    color: rgb(250, 192, 115);
    background: rgba(148, 71, 8, 0.4);
  }
}